body{
    text-align: center;
    font-family: ' Calibri';
    color: aquamarine;
}
.container{
    margin: 0 auto;
    border: black 4px solid;
    color: black;
    border-radius: 1px;
    width: 60%;
    
}